/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}




/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

*{
    //font-family: 'Exo', sans-serif;
    //font-family: 'Exo 2', sans-serif;
    //font-family: 'JetBrains Mono', monospace;
    font-family: 'Quicksand', sans-serif;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
    display: none;
}


@layer base {
    :root{
        --color-dark-blue: #062540;
        --color-light-blue: #98b9cb;
        --color-dark-orange: #df532a;
        --color-light-orange: #ff8a3b;
        --color-light-orange-secondary: #f5decd;
        --color-light-gray: #8b98a5;
        --color-gray-bg: #f6f5f1;
    }
}
