@import "~@fortawesome/fontawesome-free/css/all.min.css";

body{
    @apply bg-skin-gray-bg;
}
a{
    @apply m-0 p-0;
}
.form-container{
    @apply py-8;
    .form-aside{
        .form-aside-header{
            @apply px-4;
            .header-title{
                @apply text-lg font-medium leading-6 text-gray-900;
            }
            .header-text{
                @apply mt-1 text-sm text-gray-600;
            }
        }
    }

    .form-body{
        @apply mt-5;
    }

    .form-footer{
        @apply px-4 py-3 bg-gray-50 text-right;
    }

    @media (min-width: 768px) {
        @apply grid grid-cols-3 gap-6 w-2/3 mx-auto;

        .form-aside{
            @apply col-span-1;
            .form-aside-header{

            }
        }

        .form-body{
            @apply mt-0 col-span-2 bg-white p-6;
        }
        .form-footer{

        }
    }

    @media (min-width: 640px) {
        .form-aside-header{
            @apply px-0;
        }
        .form-footer{
            @apply px-6;
        }
    }
}

.form-field{


    label{
        @apply block text-base capitalize font-semibold text-skin-dark-blue;
    }
    .input{
        @apply border h-8 border-gray-300 mt-1 flex rounded-md;

        input{
            @apply flex-1 inline-block border-none rounded-l-md ;

            &:focus{
                @apply ring-indigo-500 border-indigo-500
            }
        }
    }
    .dropdown{

    }

    @media (min-width: 640px) {

        .input{
            input{
                @apply text-sm;
            }
        }

    }
}

.form-error{

}

.app{
    .app-top-bar{
        @apply bg-white;

        .wrapper{
            @apply w-11/12 mx-auto flex flex-row justify-between items-center;

            .app-logo{
                @apply font-black text-skin-dark-blue text-lg py-5;
            }
            .app-nav{
                @apply  hidden flex flex-row space-x-4 items-stretch;

                >.item{
                    @apply relative py-4 cursor-pointer flex flex-col justify-center;
                    .menu{
                        @apply hidden absolute top-full left-0 bg-white shadow-md w-48;
                        .item{
                            @apply border-b border-gray-100 cursor-pointer;
                            &:last-child{
                                @apply border-b-0;
                            }
                            a{
                                @apply block w-full py-2 px-4 text-gray-700;

                                &:hover{
                                    @apply bg-gray-100 text-gray-900;
                                }
                            }
                        }
                    }

                    &:hover{
                        .menu{
                            @apply block;
                        }
                    }
                }
            }
            .app-right-nav{
                @apply flex flex-row items-stretch space-x-3;
                .item{
                    @apply relative px-1.5 flex flex-col justify-center cursor-pointer;
                    .menu{
                        @apply  absolute right-0 top-full bg-skin-light-gray shadow-md w-48 rounded;
                        .item{
                            @apply px-4 cursor-pointer flex flex-row items-center p-0;
                            &:first-child{
                               a{
                                   @apply border-t-0;
                               }
                            }
                            a{
                                @apply border-t border-skin-gray-bg block m-0 w-full py-2 text-skin-dark-blue font-semibold flex-1 text-sm;
                            }
                            .icon{
                                @apply text-lg text-white pl-4;
                            }
                            &:hover{
                                @apply bg-skin-gray-bg text-gray-900;
                                .icon{
                                    @apply text-skin-dark-orange;
                                }
                            }
                            &.logout-btn{
                                @apply bg-skin-dark-orange rounded-b justify-between px-0  items-stretch;
                                .icon{
                                    @apply bg-skin-light-orange px-4 rounded-br flex flex-col justify-center;
                                }
                                .text{
                                    @apply py-1.5 text-center flex-1 text-white font-semibold text-sm;
                                }
                            }
                        }
                    }

                    &:hover{
                        .menu{
                            @apply block;
                        }
                    }
                    .icon{
                        @apply relative text-2xl text-skin-light-orange;
                        .count{
                            @apply absolute bg-skin-light-orange font-semibold rounded-full text-center text-white;
                            height: 22px;
                            width: 22px;
                            font-size: 11px;
                            line-height: 22px;
                            top: -4px;
                            left: -11px;
                        }
                    }
                }
            }
        }

    }
    .app-hero{

        .wrapper{
            @apply p-6 w-10/12 mx-auto;
            .app-hero-title{
                @apply font-extrabold text-4xl text-skin-dark-blue text-center;
            }
            .app-hero-body{
                @apply mx-auto text-center;
            }
        }
    }
}
